build/objs
build/xomb.dump
build/xomb.iso
build/iso/binaries
build/iso/LICENSE
build/iso/boot/xomb
build/root/*
build/build_arch.sh
user/nativecall.d
libos/penguinhat
runtimes/mindrt/*.a
*.a
*.swp
*.o
*~
*.dump
*.sym
*-elf
app/c/hello/chel
app/d/hello/hello
app/fortran/hello/fhel
app/d/init/init
app/d/posix/posix
app/c/simplymm/simplymm
app/c/simplyfft/simplyfft
app/d/dynhello/dynhello
app/d/nettest/nettest
