build/dsss_objs/*
build/dsss_imports/*
build/dsss.last
build/xomb.dump
build/xomb.iso
build/iso
build/iso/boot/xomb
build/root/*
build/dsss.conf
user/nativecall.d
libos/penguinhat
runtimes/mindrt/*.a
*.a
*.swp
*.o
*~
*.dump
*-elf
app/c/hello/chel
app/d/hello/hello
app/fortran/hello/fhel
app/d/init/init
app/d/posix/posix
