//Config options

bool enable_kgdb = false;
bool remote_debug = true;	// Its like debugging for the debugger

// Kernel options
// Make sure this is the same as the value in boot.h
const ulong KERNEL_VM_BASE = 0xFFFFFFFF80000000;